/* styles/CallToAction.module.css */

.callToAction {
    background-color: var(--primary-bg-color); /* Light green background color */
    padding: 40px;
    text-align: center;
    margin-top: 40px;
  }
  
  .callToAction h2 {
    color: #ffffff; /* White text color */
  }
  
  .callToAction button {
    background-color: forestgreen; /* Brown color */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .callToAction button:hover {
    background-color: #59311f; /* Darker brown color on hover */
  }
  