/* Add this to your CSS styles */
.contact-section {
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  padding: 20px;
  border-radius: 10px;
}

.form-container {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .contact-container {
    width: 100vw;
  }
}
