/* styles/InteractiveGallery.module.css */

.gallery {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .gallery h2 {
    color: var(--secondary-bg-color); /* Brown color */
    text-align: center;
  }
  
  .imageContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .imageContainer img {
    width: 300; /* Adjust as needed */
    height: 400;
    border-radius: 8px;
    transition: transform 0.3s ease;
    object-fit: cover;
  }
  
  .imageContainer img:hover {
    transform: scale(1.1); /* Scale up on hover */
  }

  @media screen and (max-width: 600px) {
    
    .imageContainer {
      flex-direction: column;
      margin: 0;
    }
  }
  