/* styles.module.css */
.pageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 800px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity as needed */
  border-radius: 8px;
  text-align: center;
  color: #333; /* Adjust text color as needed */
}

@media (max-width: 768px) {
  .content {
    margin: 20vh 0;
  }
}
