/* Add this CSS to a global styles file or a CSS module */

.service-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 20px 20px 20px;
  }
  
  .service-page-title {
    font-size: 2rem;
    color: #773c29;
    margin-bottom: 20px;
  }
  
  .service-page-description {
    font-size: 1.2rem;
    color: #773c29;
    margin-bottom: 30px;
  }
  
  /* Add more styles as needed */
  